<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SharePoint Landing</title>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="./style/index.css" />
  </head>
  <body>

    <div class="container">

      <section class="row row-header">
        <div class="col-12 header">
          <img class="logo" src="./img/wa_logo_885x267.png" />
        </div>
      </section>

      <section class="row row-content">
        <div class="col-12 col-md-9 link-container">
          <ul class="row link-list">

            <li class="col-12 link-item">
              <a class="card card-sharepoint" href="https://wycliffeassociatesinc-public.sharepoint.com/" target="_blank">SharePoint</a>
            </li>

            {{#links}}
            <li class="col-12 col-sm-6 col-md-4 link-item">
              <a class="card" href="{{{url}}}" target="_blank">{{text}}</a>
            </li>
            {{/links}}

          </ul>
        </div>
        <div class="col-12 col-md-3 vision-mission-container">
          <h4>Vision 2025</h4>
          <p>WA accelerates Bible translation around the world by empowering national translators and equipping the local church to translate God's Word into every language by 2025.</p>
          <h4>Our Vision</h4>
          <p>That by 2025 every Christian in the US has an opportunity for personal involvement in the advancement of Bible translation through praying, giving, going, and telling.</p>
          <h4>Our Mission</h4>
          <p>Involving people in the advancement of Bible translation.​</p>
        </div>
      </section>

    </div>

  </body>
</html>
